body{
    background-image: url("http://rmdeaftheatre.com/wp-content/uploads/2012/11/gray-background-3.jpg")
}

nav a {
    color: red;
}

#current-link {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
    font-size: 38px;
}

img {
    width: 250px;
    hieght: auto;
}  

h1 {
    border-bottom: 2px dashed black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 475px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 100px;
    
    
}